@import '../utilities/utilities.scss';

html,
body {
    margin: 0;
    padding: 0;
}

.azui {
    pre {
        margin: 0 !important;

        & code,
        code * {
            font-family: monospace !important;
        }
    }
}