div {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.azui {
    .azDocs {
        height: 100%;
        width: 100%;
        padding: 40px;

        div * {
            line-height: 150%;
            // margin: 1em 0;
            font-family: Arial, sans-serif;
            // font-size: 18px;
        }
    }
}