// @import url('https://fonts.googleapis.com/css?family=Lato:300,400');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
// @import url('https://fonts.googleapis.com/css?family=Muli:300,400');

div {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.azui {
    .azDocs {
        height: 100%;
        width: 100%;
        padding: 40px;
        line-height: 1.5;
        font-size: 14px;
        font-family: arial, sans-serif;
        color: #333;
        // font-family: 'Lato', sans-serif;
        // font-family: 'Open Sans', sans-serif;
        // font-family: 'Muli', sans-serif;
        // font-weight: 300;

        code:not(*) {
            font-size: 13px;
        }
    }
}