@import '../utilities/utilities.scss';

.azui {
    &.azIndex {
        color: #444;

        & a {
            text-decoration: none;
        }

        & .moduleList {
            position: relative;
            padding-left: 20px;
        }
    }
}