@import '../utilities/utilities.scss';
.azResizable>.handle {
    background-color: $main-color;
    box-sizing: border-box;
    position: absolute;
    display: grid;
    &.active {
        background-color: $active0;
    }
    &>div.collapseButton {
        background-color: lighten($color: $main-color, $amount: 10%);
        margin: auto;
        display: grid;
        cursor: pointer;
        &.collapseButtonH {
            height: 100%;
            width: 40px;
            &>span.collapseIcon {
                margin: auto;
                &>svg {
                    height: 6px;
                    fill: $main-color;
                    &.active {
                        fill: $active0;
                    }
                }
            }
        }
        &.collapseButtonV {
            height: 40px;
            width: 100%;
            &>span.collapseIcon {
                margin: auto;
                &>svg {
                    width: 6px;
                    fill: $main-color;
                    &.active {
                        fill: $active0;
                    }
                }
            }
        }
    }
}