@import '../utilities/utilities.scss';

.azResizable>.handle {
    background-color: $main-color;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        background-color: $active;
    }

    &>div.collapseButton {
        background-color: lighten($color: $main-color, $amount: 10%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.active svg {
            fill: $active !important;
        }

        &.collapseButtonH {
            height: 100%;
            width: 40px;

            &>span.collapseIcon {
                &>svg {
                    height: 6px;
                    fill: $main-color;
                }
            }
        }

        &.collapseButtonV {
            height: 40px;
            width: 100%;

            &>span.collapseIcon {
                &>svg {
                    width: 6px;
                    fill: $main-color;
                }
            }
        }
    }
}