@import "../utilities/utilities.scss";

.azui {
    &.azTree {
        font-size: 14px;
        line-height: 1.5;
        color: #333;
        cursor: pointer;

        svg {
            width: 15px;
            fill: #333;
            position: relative;
            top: 2px;
            margin-right: 4px;

            &.caret-down {
                transform: rotate(90deg);
            }
        }

        .item {
            @extend %hoveractive;
        }


        .folder {
            display: none;

            &.active {
                display: block;
            }

            padding-left: 20px;
        }
    }
}