@import "../utilities/utilities.scss";

.azui {
    &.azTree {
        font-size: 14px;
        color: #333;
        cursor: pointer;

        svg {
            width: 15px;
            fill: #666;
            position: relative;
            top: 2px;
            margin-right: 2px;
            // left: -3px;

            &.active {
                transform: rotate(90deg);
            }
        }

        .azTreeNode {
            @extend %hoveractive;
            line-height: 1.5;
        }


        .azTreeBranch {
            display: none;

            &.active {
                display: block;
            }

            padding-left: 20px;
        }
    }
}