* {
    box-sizing: border-box;
}

.azHide {
    display: none;
}

.azNoSelect {
    user-select: none;
}

$main-color:#E8E8E8;
$more-active:darken($main-color, 12%);
$active:darken($main-color, 8%);
$less-active:darken($main-color, 4%);

$bg-color:#E8E8E8;
$gray-text:#666666;
$allow:#A4D666;
$deny:#D95244;
// $shadow:0 0 5px rgba(0, 0, 0, .12),
// 0 5px 5px rgba(0, 0, 0, .12),
// 0 10px 30px rgba(0, 0, 0, .1);
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
0 0 0 1px rgba(0, 0, 0, 0.08);
$shadow-hovered:0 3px 8px 0 rgba(0, 0, 0, 0.2),
0 0 0 1px rgba(0, 0, 0, 0.08);
$shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, 0.16),
inset 0 0 0 1px rgba(0, 0, 0, 0.08);


%hoveractive {
    @media (hover: hover) {
        &:hover {
            background-color: $less-active;
        }
    }

    &.active {
        background-color: $more-active;
    }

    & * {
        user-select: none;
    }
}