html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

* {
    box-sizing: border-box;
}

.azHide {
    display: none;
}

$main-color:#E8E8E8;
$active0 :#182848;
$main-active:linear-gradient(to right, $active0, lighten($active0, 10%));
$less-active:linear-gradient(to right, darken($main-color, 10%), $main-color);
$bg-color:#E8E8E8;
$gray-text:#666666;
$allow:#A4D666;
$deny:#D95244;
// $shadow:0 0 5px rgba(0, 0, 0, .12),
// 0 5px 5px rgba(0, 0, 0, .12),
// 0 10px 30px rgba(0, 0, 0, .1);
$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
0 0 0 1px rgba(0, 0, 0, 0.08);
$shadow-hovered:0 3px 8px 0 rgba(0, 0, 0, 0.2),
0 0 0 1px rgba(0, 0, 0, 0.08);
$shadow-inset: inset 0 2px 2px 0 rgba(0, 0, 0, 0.16),
inset 0 0 0 1px rgba(0, 0, 0, 0.08);