@import "../utilities/utilities.scss";
%hoveractive {
    &:hover {
        background-color: darken($color: $main-color, $amount: 5%);
    }
    &.active {
        background-color: darken($color: $main-color, $amount: 10%);
    }
    & * {
        // border: 1px solid black;
        user-select: none;
    }
}

.azTabs {
    box-shadow: $shadow;
    display: grid;
    grid-template-areas: "headers" "contents";
    grid-template-rows: auto 1fr;
    & .azTabHeaders {
        grid-area: headers;
        border-bottom: 1px solid darken($color: $main-color, $amount: 10%);
        box-sizing: border-box;
        background-color: lighten($color: $main-color, $amount: 5%);
        position: relative;
        display: flex;
        overflow: hidden;
        & div.azTabHeader {
            height: 100%;
            width: 150px;
            border-right: solid 1px darken($color: $main-color, $amount: 7%);
            border-left: solid 1px white;
            background-color: $main-color;
            display: grid;
            grid-template-columns: 30px 1fr 30px;
            @extend %hoveractive;
            & div {
                height: 100%;
                display: grid;
                align-items: center; // border: 1px solid black;
            }
            & div.icon {
                grid-column: 1/2;
                justify-content: center;
                & svg {
                    height: 12px;
                    width: 12px;
                    display: inline-block;
                }
            }
            & div.title {
                grid-column: 2/3; // padding-left: 10px;
                & span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            & div.close {
                grid-column: 3/4;
                justify-content: center;
                & svg {
                    height: 8px;
                    width: 8px;
                    display: inline-block;
                }
                &:hover {
                    fill: $deny;
                }
            }
        }
    }
    & .azTabContent {
        grid-area: contents;
        display: none;
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}