@import '../_utilities/utilities.scss';

.azui {
  &.azInlineEditorWrapper {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;

    & input.azInlineEditorInput {
      margin: 0;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 1px solid gray;
    }

    & .dirtySign {
      position: absolute;
      border-style: inset;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 6px 0;
      border-color: transparent $deny transparent transparent;
      top: 0;
      right: 0;
      z-index: 1;
    }

    & .numberButton {
      position: absolute;
      right: 0;
      width: 20px;
      height: 50%;
      display: grid;
      align-content: center;
      justify-content: center;
      background: $main-color;

      &.upButton {
        top: 0;
        border-width: 1px;
        border-style: solid;
        border-color: darken($color: $main-color, $amount: 7%);

        &:hover {
          background-color: darken($color: $main-color, $amount: 10%);
        }

        &:active {
          background-color: darken($color: $main-color, $amount: 20%);
        }
      }

      &.downButton {
        bottom: 0;
        border-width: 1px;
        border-style: solid;
        border-top-color: white;
        border-left-color: darken($color: $main-color, $amount: 7%);
        border-right-color: darken($color: $main-color, $amount: 7%);
        border-bottom-color: darken($color: $main-color, $amount: 7%);

        &:hover {
          background-color: darken($color: $main-color, $amount: 10%);
        }

        &:active {
          background-color: darken($color: $main-color, $amount: 20%);
        }
      }

      & svg {
        width: 10px;
        height: 10px;
        fill: darken($gray-text, 10%);
      }
    }
  }
}
