@import "../_utilities/utilities.scss";

.azui {
  &.azAccordion {
    border: 1px solid #ccc;
    font-size: 12px;

    & .azAccordionHeader {
      background-color: #eee;
      color: $default-text;
      padding: 10px;
      width: 100%;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid white;
      text-align: left;
      transition: 0.5s;
      transition-property: background-color;

      @extend %hoveractive;

      &:first-of-type {
        border-top: none;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &:after {
        content: "\002B";
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }

      &.active:after {
        content: "\2212";
      }

      &.azAccordionAlert {
        font-weight: bold;
      }
    }

    & .azAccordionContent {
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  }
}
