@import "../utilities/utilities.scss";

.accordion {
    background-color: #eee;
    color: #444;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid white;
    text-align: left;
    transition: 0.5s;
    transition-property: background-color;

    @extend %hoveractive;

    &:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    &.active:after {
        content: "\2212";
    }
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}