<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>azLayout</title>
    <style>
        html,
        body {
            margin: 10;
            padding: 0;
        }

        div#container {
            width: 800px;
            height: 600px;
            /* width: 100%;
            height: 100%; */
            position: relative;
            border: 1px solid gray;
        }
    </style>
    <script src="./index.js"></script>
</head>

<body>
    <div id='container'>
        <div id="north">North</div>
        <div id="south">South</div>
        <div id="west">West</div>
        <div id="east">East</div>
        <div id="center">Center</div>
    </div>
    <script>
        const container = document.querySelector('#container');
        azui.Layout(container, {
            north: '#north',
            east: '#east',
            south: '#south',
            west: '#west',
            center: '#center',
        });
    </script>
</body>

</html>