.azLayout {
    display: grid;
    grid-template-areas: "n n n n n" "gn gn gn gn gn" "w gw c ge e" "gs gs gs gs gs" "s s s s s";
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: auto auto 1fr auto auto;

    & .azLayoutArea {
        overflow: auto;
        &.azLayoutAreaNorth {
            grid-area: n;
        }
        &.azLayoutAreaEast {
            grid-area: e;
        }
        &.azLayoutAreaSouth {
            grid-area: s;
        }
        &.azLayoutAreaWest {
            grid-area: w;
        }
        &.azLayoutAreaCenter {
            border: 1px solid gray;
            grid-area: c;
        }
    }
    & .azLayoutGutter {
        overflow: hidden;
        &.azLayoutGuttenNorth {
            grid-area: gn;
        }
        &.azLayoutGuttenEast {
            grid-area: ge;
        }
        &.azLayoutGuttenSouth {
            grid-area: gs;
        }
        &.azLayoutGuttenWest {
            grid-area: gw;
        }
    }
}